.w-single-product{
    margin: 0 auto;
    width: 100%;
    height: calc(100% - 80px);
    min-height: 100vh !important;
    margin-top: 2rem !important;
    margin-bottom: 0 !important;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.w-product{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    padding: 10px 50px;
    /* background-color: #f0f0f0a4; */
    box-shadow: 0 0 20px grey;
    margin-top: 10px;
    border-radius: 10px;
}

.w-Single-product-details p {
    font-size: clamp(0.6rem, 4vw, 0.8rem);
}

.w-single-product-prices {
    margin: 8px 0;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 1rem !important;
}

@media (max-width:769px) {
    .navigation-buttons {
        margin-bottom: 1rem !important;
    }
}

.nav-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-btn:hover {
    background-color: #0056b3;
}


@media (max-width:768px) {
    .w-product{
        flex-direction: column;
    }
    .w-single-product {
        margin-top: 4rem !important;
    }
}