.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

.embla__slide img {
    width: 100%;
    height: 400px;
    display: block;
    background: #f3f3f3;
}

@media (max-width:769px) {
    .embla__slide img {
        height: auto;
    }
}