.television{
    margin: 0 auto;
    width: 100%;
    height: calc(100% - 80px);
    min-height: 100vh;
    margin-top: 4.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}


.e-card:hover img{
    transform: scale(1.05);
    cursor: pointer;
  }